.writer{
    border-radius: 8px;
}
.writer img{
    width:200px;
   border-radius: 50%;
   height: 200px;
}
.card-style{
    height: 500px;
   border:1px solid rgb(168, 100, 231)
}

   

.writer-name{
    color:rgb(99, 10, 28)
}
.add-btn{
    background-color: rgb(133, 23, 235);
    color: white;
   padding:5px 18px;
   border-radius: 12px;
   font-weight: 500;
}
